@charset "utf-8"; 
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #a0a0a0;
    text-align: center;
}
div {
    float: left;
    width: 30%;
    margin: 8px;
    margin-right: 8px;
    box-sizing: border-box;
    border: 1px solid black;
    line-height: 2rem;
    background-color: #f0f0f0;
}
ul{
    list-style-type: none;
    
}
.title{
    background-color: black;
    color: #fff;
    width: 100%;
}
@media (max-width: 768px) {
    div{
        width: 97vw;
    }
}